body{
    box-sizing: border-box;
}
header{
    background-color: #6208b8;  
}
.bg-light {
    --bs-bg-opacity: 1;
    background-color: #6208b8(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}
.me-2 {
    margin-right: 0.5rem!important ;
    background-color: #6208b8;
    border-bottom:1 px solid #fff;
    border-top: none;
    border-right: none ;
    border-left: none ;
    border-radius: 0;
}
.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.55);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255);
}
.shmonteiner {
    margin-top: 40px;
    box-shadow: 1px 1px 5px #000000;
    text-align: center;
    padding: 70px 20px;
}
.textclas{
    border-bottom: 1px solid #00000036;
}
.regdiv{
    padding-top: 15px;
}
.downloaddiv{
    border: 2px solid  #6d0000;
    padding: 5px 20px;
    transition: all 1s;
}
.downloaddiv:hover{
    background-color: rgba(0, 255, 34, 0.5);
    box-shadow: 0 0 10px #000000;
    border: 2px solid rgba(0, 255, 34, 0.5);
}
.downloaddiv-2{
    background-color: #6d0000;
    padding: 5px 20px;
    color: #fff;
    border: 2px solid  #6d0000;
    transition: all 1s;
}
.downloaddiv-2:hover{
    background-color: rgba(0, 255, 34, 0.5);
    box-shadow: 0 0 10px #000000;
    border: 2px solid rgba(0, 255, 34, 0.5);
}
.dwnldlearnmore{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.did-1{
    padding-right: 15px;
}
.downloaddiv a{
    text-decoration: none;
    color: #6d0000;
}
.downloaddiv-2 a{
    text-decoration: none;
    color: #ffffff;
}
.bxdiv{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.342);
    padding: 50px 0;

}
.jjk-1221{
    margin: auto;
}
.ftr{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #6208b8; 
    padding-top: 12px;
}
.ftr div{
    margin: auto;
}
.ftr div a{
    text-decoration: none;
    color: #fff;
}
@media all and (max-width: 370px) {
    .dwnldlearnmore {
    display: block;
    }
    .did-1 {
        padding-right: 0;
    }
  }